body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
    padding: 20px;
}

.formulario2,
.formulario,
#formCalculo2,
#formOuroBranco,
#formCalculo {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formCalculo div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

label {
    margin-right: 10px;
    font-weight: bold;
    min-width: 150px;
    text-align: right;
}

input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button:hover {
    background-color: #0056b3;
}

#resultados,
#resultados2,
#resultados4 {
    align-items: center;
    text-align: center;
}


#resultados4 {
    text-align: center;
    align-items: center;
}

#ouroDescartado {
    margin-left: 10px;
}

#ouroFinal {
    margin-left: 60px;
}

#teor {
    margin-left: 10px;
}

#piB {
    margin-left: 10px;
}

#pFB {
    margin-left: 59.8px;
}

#tF {
    margin-left: 90.3px;
}

#AuB {
    margin-left: 5.85px;
}

#calcular {
    display: flex;
    text-align: center;
    justify-content: center;
}


#pf {
    margin-left: 50px;
}

#Au {
    margin-left: 46px;
}

#Ag {
    margin-left: 46px
}

#Cu {
    margin-left: 46px
}

#Zn {
    margin-left: 48px
}

#ouroDescartado2 {
    margin-left: 62px;
}

#ouroFinal2 {
    margin-left: 112px;
}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#ellosgold {
    color: #d4af37;
    font-style: italic;
}